.movie-card{
  width: 180px;
  background: transparent;
  margin: 10px auto;
}

.movie-card > a > img {
  width: 180px;
  height: 240px;
}

.movie-card > a {
  height: 250px;
}

.movie-card > a > p {
  padding-top: 10px;
  text-align: center;
  color: #ffffffc9;
  font-size: 16px;
}

.genres-list{
  flex-wrap: wrap;
  display: flex;
}

.genres-list > p{
  font-size: 10px;
  padding: 0px 5px;
}
